
{{#each category.products as |product|}}



  {{#link-to 'product' product }}
  <h2> {{product.name}} : ${{product.price}}</h2>{{/link-to}}
  <img src='{{product.image}}' alt="image of product">

{{/each}}
